.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
    border-color: rebeccapurple;
    border-width: 10px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}
