<div class="col-md-10">
    <div ng-repeat="bem in vm.bens | filter:vm.criterio" class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/bens/{{bem._id}}">
                    <img ng-src="{{bem.urlFoto}}">
                    <div class="caption">
                        <h3>{{bem.descricao}}</h3>
                    </div>
                </a>

                <ac-bt-navegar 
                    destino="{{'/bens/alterar/' + bem._id}}"
                    texto="Alterar">
                </ac-bt-navegar>

                <ac-bt-atencao
                    acao="vm.onExcluir({ bemId: bem._id })"
                    texto="Excluir">
                </ac-bt-atencao>
            </div>
        </div>
    </div>
</div>
