<div class="page-header">
    <h1>Listagem de Bens</h1>
</div>
<div class="row">
    <!-- Barra Lateral -->
    <div class="col-md-2">
        Busca: <input ng-model="criterio">
        <a href="/bens/incluir" class="btn btn-primary" role="button">Novo Bem</a>
    </div>

    <!-- Conteúdo -->
    <div class="col-md-10">
        <div ng-repeat="bem in vm.bens | filter:criterio" class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/bens/{{bem._id}}">
                        <img ng-src="{{bem.urlFoto}}">
                        <div class="caption">
                            <h3>{{bem.descricao}}</h3>
                        </div>
                    </a>
                    <a ng-href="{{'/bens/alterar/' + bem._id}}" 
                        class="btn btn-primary" role="button">Alterar</a>
                    <button ng-click="vm.excluir(bem._id)" 
                        class="btn btn-default" role="button">Excluir</a>
                </div>
            </div>
        </div>
    </div>
</div>

